[Unit]
Description=Swarmnode backend
After=network.target
StartLimitIntervalSec=0
SuccessAction=exit

[Service]
Type=simple
Restart=always
RestartSec=1
User=node
TimeoutSec=1
ExecStart=/home/node/swarmnode_deployment_server

[Install]
WantedBy=multi-user.target